// Default
$color-white: #ffffff;
$color-black: #000000;

// blue

$color-blue-secondary: #255698;
$color-darkblue-default: #26344A;
$color-darkblue-primary: #1F2A3B;
$color-lightblue-default: #258c9a;
$color-lightblue-primary: #5cb6b7;

// red
$color-red: #b13838;
$color-darkred: #912C2C;

// green
$color-green: #62dacb;
$color-darkgreen: #27aebf;
$color-green-primary: #0f4850;

// grey
$color-darkgrey: #444444;
$color-grey: #707070;
$color-lightgrey: #c2c2c2;
